	<header>
		<h3>Nöfn af handahófi</h3>
	</header>
  <ul>
      <% @random.each do |name| %>
    <li>
    <b><%=name.name %> </b>
      <%= button_to "Like", names_path(:id => name.id), :remote => true %>
   </li>
      <% end %>
  </ul>
