


<table class="zebra-striped">
    <thead>
        <tr>
            <th>Nafn</th>
            <th>Aðgerð</th>
        </tr>
    </thead>
    <tbody>
    <% @random.each do |name| %>
        <tr>
            <td><%=name.name %></td>
            <td><%= button_to "Like", names_path(:id => name.id), :remote => true %></td>
        </tr>
    <% end %>
    </tbody>
</table>

