<div id="login-menu">  
  <% if current_user %>  
      Hæ! <%= link_to current_user.name , users_path %>
    
    <%= link_to "Sign Out", signout_path %>  
  <% else %>  
    <%= link_to "Sign in with Twitter", "/auth/twitter" %>  
  <% end %>  
</div>
    
