<table class="condensed-table">
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
            <div class="input">
              <select name="stackedSelect" id="stackedSelect">
                <option>Stráka</option>
                <option>Stelpu</option>
                <option>Bæði</option>
                <option>Milli</option>
                <option>Th</option>
              </select>
            </div>
           </td>
             <td>
                
            </td>
          </tr>
 
      </tbody>
</table>

